<!-- Header -->
<header style="display: flex; justify-content: space-around; align-items: center; font-family: 'Segoe UI';">
  <img src="https://cdn.ui.porsche.com/porsche-design-system/marque/porsche-marque-trademark.medium.min.5c6af9aa7946fea34f60c8f8c95d0188@1x.webp" alt="">
  <a routerLink="/">Home</a>
  <a routerLink="/ruta">Ir a Ruta</a>
  <div style="display: flex; justify-content: space-around; align-items: center;">
    <span>Menu</span>
    <ion-icon name="menu"></ion-icon>
  </div>
</header>
<!-- Fin del header -->
