<mdb-carousel [controls]="true" [indicators]="true">
  <mdb-carousel-item>
    <img
      src="https://files.porsche.com/filestore/image/multimedia/none/rd-2023-homepage-banner-ww-macan%C2%B520iii-kw13/normal/775516d5-c8b3-11ed-80ff-005056bbdc38;sN;twebp/porsche-normal.webp"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>First slide label</h5>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://files.porsche.com/filestore/image/multimedia/none/rd-2021-homepage-banner-ww-taycanbasis-kw03/normal/bac79971-5656-11eb-80d1-005056bbdc38;sN;twebp/porsche-normal.webp"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Second slide label</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://files.porsche.com/filestore/image/multimedia/none/rd-2022-homepage-banner-ww-gii4-kw48/normal/b25258a8-6bf5-11ed-80f7-005056bbdc38;sN;twebp/porsche-normal.webp"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Third slide label</h5>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://files.porsche.com/filestore/image/multimedia/none/rd-2020-homepage-banner-ww-718caymans-kw26/normal/9601b562-b5e6-11ea-80ca-005056bbdc38;sN;twebp/porsche-normal.webp"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Fourth slide label</h5>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
